#!/bin/bash
data=(`./wp-db.php`)

#########################################
#										#
#	Delete the .sample and put this		#
#	file in .git/hooks/					#
#   Make sure this file is executable	#
#	--> chmod +x .git/hooks/pre-commit	#
#										#
#########################################

# echo ${data[0]} //DB_NAME
# echo ${data[1]} //DB_USER
# echo ${data[2]} //DB_PASSWORD
# echo ${data[3]} //DB_HOST


## if you would like to show the databases currently in mysql before export uncomment below
# mysqlshow -u ${data[1]} -p${data[2]} ${data[0]}

## if you would like to check before export uncomment below
# read -e -p "Are you sure to export ${data[0]} to a file? " -i "y" -n 1 -r
# if [[ $REPLY =~ ^[Yy]$ ]]
# then
#   mysqldump -u ${data[1]} -p${data[2]} ${data[0]} > ${data[0]}.sql
# 	echo "Database succesfully copied to file:" ${data[0]}.sql
# fi

## export the database, settings are specified in $data file 
## For more info about the settings check the $data file, link is on top of this script

mysqldump -u ${data[1]} -p${data[2]} ${data[0]} > ./${data[0]}.sql
git add ./${data[0]}.sql
